* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primary-color: #f9f9f9;
  --secondary-color: #27374D;
  --tertiary-color: #DDE6ED;
  --quaternary-color: #9DB2BF;
  --primary-font: "Roboto", sans-serif;
}

body {
  font-family: var(--primary-font);
  background-color: var(--secondary-color);
}

main {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 5rem;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: absolute;
  top: 15%;
  left: 0;
  right: 0;

  gap: 1rem;
  color: var(--primary-color);
}

.search .title {
  font-size: 3.2rem;
  font-weight: 700;
}

.search .title span {
  font-size: .8rem;
  font-weight: 700;
}

.search .input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search .input input {
  width: 20rem;
  height: 2rem;
  padding: 0 1rem;

  border: none;
  border-radius: 0.5rem 0 0 0.5rem;
  outline: none;

  font-size: 1.2rem;
  font-weight: 500;

  color: var(--secondary-color);
}

.search .input button {
  width: 4rem;
  height: 2rem;

  border: none;
  border-radius: 0 0.5rem 0.5rem 0;

  outline: none;
  font-size: 1rem;

  background-color: var(--quaternary-color);
  color: var(--primary-color);

  transition: background-color 0.3s ease, color 0.3s ease;
}

.search .input button:hover {
  cursor: pointer;

  background-color: var(--tertiary-color);
  color: var(--secondary-color);
}

.error {
  display: none;
}

.active {
  display: block;
}

.result {
  width: 100%;
  max-width: 300px;
  padding: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 0.5rem;

  gap: 1rem;

  background-color: #DDE6ED;
}

.result .city, 
.result .state, 
.result .neighborhood, 
.result .cep {
  font-size: 1.2rem;
  font-weight: 400;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  color: var(--secondary-color);
}

